body {
    font-family: 'FreeSans', sans-serif;
    margin: 40px auto;
    padding: 0 10px;
    max-width: 640px;
    font-size: 11pt;
}

#page-title {
    text-align: center;
}

#page-title h1 a {
    color: black;
    font-size: 2.7rem;
}

#home {
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
}

#home:hover {
    background-color: #1884cf;
}

a {
    color: #1884cf;

}

a:hover {
    color: #1884cf;
}


.post a {
    color: black;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    font-family: 'Ubuntu Mono', monospace;
}

iframe {
    border: none;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog-post-subheader {
    color: gray;
    font-size: .9em;
}

time{
    color: gray;
    font-size: .9em;
}



.posts_listing li {
  list-style-type: none;
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2em;
}

h3 {
  font-size: 1.1rem;
}

h4  {
  font-size: 1.1rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  white-space: pre;
  overflow-x: auto;
  color: #aa3300;
}

pre {
  overflow-x: auto;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef;
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 3px;
}

footer  {
  text-align: center;
}

.navbar {
    padding-left: 0px;
    margin-left: 0px;

}

.nav-link {
    margin-left: 0px;
    padding-left: 0px;
}

.everything {
    opacity: 0.5;
    font-size: 10pt;
        position: fixed;
    }
    
}

img {
    margin: 1em 0em;
    max-width: 100%;
    border-radius: 3px;
}

iframe {
    border-radius: 3px;
    max-width: 100%;
}

.game {
    background: #FFF;
    border: 1px solid #000;
    height: 420px
}

.game-fullscreen {
    position: relative;
    top: 0;
    bottom: 0;
    border: none;
    z-index: 30000
}

canvas {
    display: inside;
    float: left;
    height: 10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}


blockquote 
{
    margin: 1em 0px;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 3px;
    font-style: italic;
}

blockquote p {
    margin: 0px;
}

.nobullets ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.nobullets li {
    display: inline-block;
    border: 1px solid #dee2e6;
    background-color: #f9f9f9;
    padding: .1em .3em;
    margin: .1em;
}

.nobullets h2 {
    margin-top: 2em;
}

table {
    border-bottom: 1px solid #dee2e6;
}


video {
    border-radius: 3px;
 animation: fadein 3s;
}

iframe {
 animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

div.circle {
    border-radius: 50%; 
    overflow:hidden; 
    width: min(80vw, 80vh); 
    height: min(80vw, 80vh);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: 0px 0px 40px #999;
}

div.circle img {
    padding: 0px;
    margin: 0px;
}
