/* html {
    width: 900px;
    height: 600px;
} */

body {
    font-family: 'FreeSans', sans-serif;
    margin: 40px auto;
    padding: 0 10px;
    max-width: 900px;
    max-height: 640px;
    font-size: 11pt;
    overflow: hidden;
    text-transform: lowercase;
}

center {
    position: fixed;
    top: 50%;
    right: 50%;
}
#page-title {
    text-align: center;
}

#page-title h1 a {
    color: black;
    font-size: 2.7rem;
}

#home {
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
}

#title,#author {
    text-transform: lowercase;
}

#page {
    padding-left: 4px;
    padding-right: 4px;
    float: right;
}

#home:hover {
    background-color: #1884cf;
}

#track {
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
}

#track:hover {
    background-color: #1884cf;
}

a {
    color: #aaa;
    position: relative;
    z-index: 2;
}

a:hover {
    color: #1884cf;
}


.post a {
    color: black;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    font-family: 'Ubuntu Mono', monospace;
}

iframe {
    border: none;
    position: relative;
    z-index: 2;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog-post-subheader {
    color: gray;
    font-size: .9em;
}

time{
    color: gray;
    font-size: .9em;
}



.posts_listing li {
  list-style-type: none;
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2em;
}

h3 {
  font-size: 1.1rem;
}

h4  {
  font-size: 1.1rem;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1rem;
  white-space: pre;
  overflow-x: auto;
  color: #aa3300;
  position: relative;
  z-index: 2;
}

pre {
  overflow-x: auto;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid lighten(#111, 90);
  background-color: #efefef;
  font-size: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 3px;
}

footer  {
  text-align: center;
}

.navbar {
    padding-left: 0px;
    margin-left: 0px;

}

.nav-link {
    margin-left: 0px;
    padding-left: 0px;
}

.everything {
    opacity: 0.5;
    font-size: 10pt;
}

img {
    margin: 1em 0em;
    max-width: 100%;
    border-radius: 3px;
}

iframe {
    border-radius: 3px;
    max-width: 100%;
}


blockquote 
{
    margin: 1em 0px;
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 3px;
    font-style: italic;
}

blockquote p {
    margin: 0px;
}

.nobullets ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.nobullets li {
    display: inline-block;
    border: 1px solid #dee2e6;
    background-color: #f9f9f9;
    padding: .1em .3em;
    margin: .1em;
}

.nobullets h2 {
    margin-top: 2em;
}

table {
    width: 100%
}

tr{
    width: 200px;
}

td.settingInput {
    text-align: right;
}

td.settingTitle {
    text-align: left;
}



video {
    border-radius: 3px;
 animation: fadein 3s;
}

iframe {
 animation: fadein 3s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

figcaption {
    color: gray;
    font-style: italic;
    text-align: center;
}

div.circle {
    border-radius: 50%; 
    overflow:hidden; 
    width: 584.8px; 
    height: 584.8px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    box-shadow: 0px 0px 40px #999;
}

div.circle img {
    padding: 0px;
    margin: 0px;
}

canvas {
    position: absolute;
    z-index: -1;
    top: -1571px;
    right: -781px;
}

.topMenu {
    position: relative;
    top: -5000px;
    height: 0px;
    width: 0px;
    opacity: 1
}

.bottomMenu {
    position: relative;
    top: -5000px;
    height: 0;
    width: 0;
    opacity: 1
}

.buttomMenuChrome .promoCard {
    height: 0%;
    float: left;
    width: 0%;
    top: -5000px
}

.editorDialog {
    font-family: 'Ubuntu Mono', monospace;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255,255,255,.7);
    z-index: 4;
}

.editorDialog-close {
    position: absolute;
    right: 5px;
    top: 5px;
    line-height: 30px;
    width: 30px;
    font-size: 1.5em
}

.editorDialog-close:hover {
    color: #3899DC
}

.editorDialog-content {
    width: 300px;
    height: 0px;
    background: #FFF;
    border: 1px solid #C2C2C2;
    top: -30px;
    left: 306px;
    position: absolute;
    box-shadow: 0 0 1px #DDD
}

.editorDialog-titleBar {
    line-height: 38px;
    padding: 0 13px;
    border-bottom: 1px solid #C2C2C2;
    color: #2D2D2D
}

.editorDialog-bottomBar {
    background: #F8F8F8;
    padding: 12px
}

.editorDialog-bottomBar.error {
    color: #E5302F;
    background: #F4D0D0;
    border: 1px solid #E5302F
}

.editorDialog-content-title {
    font-size: 1em;
    font-weight: 400;
    margin: 10px

}

.editorDialog-content_clearDialog {
    width: 400px
}

.editorDialog-content_clearDialog .editorDialog-centerContent {
    padding: 10px
}

.editorDialog-content_clearDialog .editorDialog-bottomBar {
    border-top: 1px solid #CCC
}

.exportDialog-code,.importDialog-code {
    font-family: 'Ubuntu Mono', monospace;
    overflow-x: auto;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid lighten(#111, 90);
    background-color: #efefef;
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.gameSettingsDialog-code {
    font-family: 'Ubuntu Mono', monospace;
    overflow-x: auto;
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid lighten(#111, 90);
    background-color: #efefef;
    font-size: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-radius: 3px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.editorDialog-codeContainer,.importDialog-codeContainer {
    position: relative;
    left: 610px;
    width: 250px;
}

.importDialog-button {
    float: right
}

.importDialog-dropFile {
    display: none;
    position: absolute;
    top: 110px;
    text-align: center;
    width: 100%;
    left: 0;
    color: #3899DC
}

input,textarea {
    border: none;
    padding: .2em .2em;
    margin: 0;
    display: block;
    background: 0 0;
    outline: 0!important;
    min-height: 1.4em;
    line-height: 1.4em;
    font-size: 1em;
    width: 100%;
    -webkit-appearance: none
} 

input,textarea#color {
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    color: fieldtext;
    background-color: field;
    cursor: default;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
    width: 100px;
    height: 21px;
    font-size: 11pt;
}

.importDialog-placeholder {
    font-size: 14px;
    padding: 14px;
    position: absolute;
    width: 486px;
    z-index: -1
}

.exportDialog-saveAsFile,.importDialog-openFile {
    color: #3B99FC;
    font-size: .7em;
    padding: 10px;
    cursor: pointer
}

.importDialog-openFile {
    position: absolute;
    z-index: 3;
    right: 60px;
    top: 2px
}

.editorDialog-content-dragActive .importDialog-code {
    background: #FFF;
    border: 2px dashed #000
}

.ud-uploading-cost {
    width: 260px;
    float: left;
    font-size: .9em
}

.ud-uploading-cost .core_icons {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
    margin-left: 2px;
    margin-right: 5px
}

.ud-uploading-cost .num {
    font-family: roboto_bold,Arial,Helvetica,sans-serif;
    font-weight: 700
}

.ud-form-input>.title,.ud-upload-complete-balance>.balance,.ud-upload-complete-message>.track-title,.ud-upload-complete-share>.title {
    font-family: roboto_medium,Arial,Helvetica,sans-serif
}

.ud-form {
    padding: 18px;
    border-bottom: 1px solid #C2C2C2;
    position: relative
}

.ud-form-input {
    margin: 5px 0
}

.ud-form-input>.title {
    font-size: .9em;
    margin-bottom: 5px
}

.ud-form-input>.char-left,.ud-form-input>.input-desc {
    color: #595959;
    font-size: .8em
}

.ud-form-text-input {
    border: 1px solid #C2C2C2;
    border-radius: 11px
}

.ud-form-vehicles>.ud-form-input {
    width: 50%
}

.ud-form-checkbox {
    margin: 5px 0;
    cursor: pointer
}

.ud-form-checkbox>.checkbox {
    background: #FFF;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #FFF;
    line-height: 18px;
    border: 1px solid #000;
    display: inline-block
}

.ud-form-checkbox.checked>.checkbox {
    background: #1F80C3
}

.ud-form-checkbox>.name {
    padding-left: 5px;
    font-size: .9em
}

.ud-form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: .7
}

.ud-bottom-message {
    font-size: .8em;
    width: 270px;
    display: inline-block
}

.ud-exporting-track {
    padding: 18px;
    border-bottom: 1px solid #C2C2C2;
    font-size: .9em
}

.ud-exporting-track>.warning {
    font-size: .9em
}

.ud-uploading-message {
    display: inline-block;
    position: relative;
    top: 12px
}

.ud-uploading-message>.loading-hourglass {
    position: absolute;
    top: -5px;
    left: 0
}

.ud-uploading-message>.text {
    padding-left: 34px;
    font-size: .9em
}

.ud-upload-complete {
    padding: 18px;
    border-bottom: 1px solid #C2C2C2
}

.ud-upload-complete-share>.title {
    margin-bottom: 10px
}

.ud-upload-complete-share .share_icons {
    margin-right: 15px
}

.ud-upload-complete-link-input {
    border: 1px solid #C2C2C2;
    border-radius: 11px
}

.editorDialog-content_helpDialog {
    width: 600px
}

.editorDialog-content_helpDialog .hotkeys {
    padding: 10px;
    clear: both
}

.editorDialog-content_helpDialog .hotkey {
    margin: 5px 0
}

.editorDialog-content_helpDialog .hotkeys-title {
    font-size: 13px;
    margin: 10px 0 5px;
    font-family: roboto_condensed_bold,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: #595959
}

.link,a {
    color: #1F80C3;
    text-decoration: none
}

.link:hover,a:hover {
    color: #3899DC
}

.primary-button {
    margin-left: 2px;
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
    font-family: 'FreeSans', sans-serif;
    font-size: 11pt;
    border: none;
    outline: none
}

.primary-button:hover {
    background-color: #1884cf;
    border: none;
    outline: none
}

#slideshow {
    width: 590px;
}

#title {
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
}

#title:hover {
    background-color: #1884cf;
}

#author {
    color: white;
    background-color: #aaa;
    text-decoration: None;
    padding: .3em;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
}

#author:hover {
    background-color: #1884cf;
}