@keyframes rotate {
    to {
        rotate: 360deg;
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: hsl(0deg 0% 50% / 5%);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0deg 0% 50% / 25%);
    border-radius: 30px;
}

::-webkit-scrollbar-corner {
    display: none;
}

html {
    background-color: var(--background-color);
    color: var(--text-color);
	font-family: Arial, helvetica, sans-serif;
}

body > nav {
    backdrop-filter: blur(1rem);
    background-image: linear-gradient(to bottom, var(--accent-color), transparent);
    border-bottom: 1px solid;
    border-bottom-color: #80808040;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    position: sticky;
    top: 0;
    width: -webkit-fill-available;
    z-index: 1;
}

/* separate query in case I ever want to change
the main navigation's parent element to :root */
body > nav {
    margin: -8px;
    margin-bottom: 0;
}

body > nav a {
    background-color: transparent !important;
}

body > nav a:hover {
    box-shadow: inset 0 0 1pc 2pc hwb(0 50% 50% / 15%);
}

body > nav > select {
    display: none;
    color: var(--text-color);
}

body > nav > section {
    display: inline-flex;
    max-width: 50%;
}

body > .content {
    margin-top: inherit;
}

section[caption] {
    padding-top: 3rem;
    position: relative;
}

section[caption]::before {
    content: attr(caption);
    font-weight: bold;
    position: absolute;
    text-decoration: underline #80808080;
    text-transform: capitalize;
    text-underline-position: under;
    top: 1rem;
}

.dropdown {
  	position: relative;
    transition: all 10s;
}

.dropdown:empty {
    display: none;
}

.dropdown > main {
    background-color: var(--accent-color);
    border-radius: 5px;
    display: block;
    max-height: 0;
    overflow: hidden;
	position: absolute;
    flex-direction: column;
}

.dropdown:is(:hover, :focus-within) > main {
    /* box-shadow: 0 0 20px -10px var(--border-color); */
    box-shadow: 0 0 0 1px rgb(128 128 128 / 20%);
    height: auto;
    max-height: 100vh;
    transition: all .25s ease-in;
}

@media (max-width: 600px) { /* revert to 600 after testing */
    body > nav > section {
        display: none;
    }

    body > nav >select {
        appearance: none;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 30px;
        display: block !important;
        padding: 1rem;
        outline: none;
        transition: 100ms all ease-out;
    }

    body > nav select:hover {
        cursor: pointer;
        transition: 200ms all ease-in;
    }

    body > nav select:active {
        cursor: pointer;
        transition: 200ms all ease-in;
    }

    body > nav select optgroup {
        appearance: none;
    }

    body > nav select option {
        appearance: none;
    }

    body > nav select option:hover {
        appearance: none;
        padding: 20px;
    }
}

pre.code-block {
    counter-reset: line;
    display: flex;
    flex-direction: column;
    background-color: #282C34;
    border-radius: 10px;
    line-height: 1.5;
    overflow-x: auto;
    overflow-y: auto;
    font-size: 14px;
    padding: 20px;
    min-width: 50vw;
    color: #ABB2BF;
    max-height: 500px;
}

pre.code-block span {
    counter-increment: line;
}

pre.code-block > span:hover {
	background-color: inherit;  
    border-radius: 1px;
	filter: brightness(1.2);
}

pre.code-block span:before {
    content: counter(line);
    margin-right: 10px;
    padding: 10px;
}

pre.code-block code.indent {
    text-indent: 5em;
}

pre.code-block code.constant {
    color: #E5C07B;
}

pre.code-block code.parameter {
    font-style: italic;
}

pre.code-block code.parameter,
pre.code-block code.property,
pre.code-block code.variable {
    color: #E06C75;
}

pre.code-block code.function,
pre.code-block code.method {
    color: #4FAFE3;
}

pre.code-block code.comment {
    color: #7f848e;
}

pre.code-block code.enum {
    color: #56b6c2;
}

pre.code-block code.keyword {
    color: #C678DD;
}

pre.code-block code.string {
    color: #98C379;
}

pre.code-block code.number {
    color: #D19A58;
}

div.split-input {
    border-radius: 2px;
    width: fit-content;
}

div.split-input * {
    display: inline-block;
}

select { 
	background-color: var(--accent-color);
	border: none;
	border-radius: 0.25rem;
	border-right: 1rem solid transparent;
	color: var(--text-color);
	padding: 1rem 1.25rem;
}

input:not([type="checkbox"],[type="color"],[type="image"],[type="file"],[type="radio"],[type="range"]) {
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
	box-sizing: border-box;
    color: var(--text-color);
	max-width: 200px;
    outline: none;
	padding: 1rem 1.25rem;
    position: relative;
    text-align: center;
}

textarea {
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
	box-sizing: border-box;
    color: var(--text-color);
    padding: 0.75rem;
}

textarea::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

select:focus, textarea:focus {
    outline: none;
}

input:not([type="checkbox"],[type="color"],[type="image"],[type="file"],[type="radio"]):hover, textarea:hover {
    filter: brightness(1.1);
}

input:not([type="checkbox"],[type="color"],[type="image"],[type="file"],[type="radio"]):focus, textarea:focus {
    filter: brightness(1.2);
}

div.container {
    display: inline-flex;
    position: relative;
    overflow: hidden;
}

a.button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
}

.button, button, input[type="button"], body > nav a, ::-webkit-file-upload-button {
    -webkit-user-select: none;
	aspect-ratio: 2.5 / 1;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    color: var(--text-color);
    display: inline-block;
    font-size: smaller;
    height: 3rem;
    outline: none;
    overflow: hidden;
    user-select: none;
    position: relative;
    text-align: center;
	text-decoration: none;
    transition: all 100ms;
}

:is(.button, button, input[type="button"], select):hover, ::-webkit-file-upload-button:hover {
    cursor: pointer;
    filter: brightness(calc(1 + 0.4 * var(--brightness-multiplier)));
    transition: all 50ms;
}

:is(.button, button, input[type="button"]):not(.secondary):hover:active, ::-webkit-file-upload-button:active {
    filter: brightness(calc(1 + 0.6 * var(--brightness-multiplier)));
}

:is(button, input[type="button"], .button).secondary, .secondary::-webkit-file-upload-button {
    border-radius: 4px;
    margin: 2.5px;
}

::-webkit-file-upload-button {
    margin: 0;
}

:is(.button, button, input[type="button"]).secondary:active, .secondary:active::-webkit-file-upload-button {
	scale: 0.85;
    transition: scale 80ms ease;
}

.ripple {
	overflow: hidden;
	position: relative;
}

:is(.button, button, input[type="button"]):not(.secondary)::before, .ripple::before {
    background-color: #808080;
    border-radius: 50%;
    content: "";
    opacity: 0;
	left: calc(var(--offsetX) * 1px);
    padding: 50%;
	position: absolute;
    scale: 2;
    top: calc(var(--offsetY) * 1px);
	transition: opacity 1s, scale 800ms ease-out;
    translate: -50% -50%;
}

.rainbow::before {
	background: #EEEEEE; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(red, orange , yellow, green, cyan, blue, indigo, violet);
    background: -o-radial-gradient(red, orange, yellow, green, cyan, blue, indigo, violet);
    background: -moz-radial-gradient(red, orange, yellow, green, cyan, blue, indigo, violet);
    background: radial-gradient(red, orange , yellow, green, cyan, blue, indigo,violet);
}

/* :is(button, input, .button):not(.secondary):hover:active:before, .ripple:not(.secondary, .focus):hover:active:before, .ripple.focus:not(:focus-within, .secondary):hover:active:before {
    opacity: 0.5;
    scale: 1;
    transition: opacity 200ms, scale 800ms ease-out !important;
} */

:is(button, input, .button):not(.secondary):active:before, .ripple:not(.secondary, .focus):active:before, .ripple.focus:not(.secondary):active:not(:focus-within):before {
    opacity: 0.5;
    scale: 0;
	transition: 0s;
}

:is(button, input[type="button"], .button):disabled {
    cursor: default;
    opacity: 0.5;
}

:is(button, input[type="button"], .button).loading {
    font-size: 0;
}

.loading {
    -webkit-user-select: none;
    color: transparent;
    position: relative;
    user-select: none;
}

.loading * {
    visibility: hidden;
}

.loading::after {
	animation: rotate 800ms cubic-bezier(.5, .5, .5, .5) infinite;
    background-color: transparent;
    border: 2px solid;
    border-color: var(--text-color) !important;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    content: "";
    height: 0;
	inset: 0;
    margin: auto;
    padding: 0.25rem;
    position: absolute;
    width: 0;
}

table tr th {
    text-align: left;
}

table tr td {
    background-color: var(--accent-color);
    padding: 10px;
}

table tr td:hover {
    filter: brightness(1.1);
}

table tr td:nth-child(2) {
    opacity: .6;
}

progress {
    border-radius: 0.25rem;
    color: #2196F3 !important;
    display: block;
    height: 0.5rem;
    position: relative;
}

progress::-moz-progress-bar {
    background-color: rgb(128 128 128 / 5%);
    border-radius: 0.25rem;
}

progress::-webkit-progress-bar {
    background-color: rgb(128 128 128 / 5%);
    border-radius: 0.25rem;
}

progress::-webkit-progress-value {
    background-color: #2196F3 !important;
    border-radius: 0.25rem;
}

progress.show-percentage::before {
    color: var(--text-color);
    content: attr(value) '%';
    font-size: 0.5rem;
	inset: 0;
    position: absolute;
    text-align: center;
}

.warning {
    font-weight: bold;
}

a.showcase {
	border: 1px solid var(--border-color);
	border-radius: 4px;
	display: block;
    width: fit-content;
}

iframe.showcase {
	border: none;
    height: 50vmin;
    pointer-events: none;
    width: 70vmin;
}

video-container {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	position: relative;
}

video-container video {
	pointer-events: none;
	touch-action: none;
}

video-container video#view {
	width: 500px;
}

video-container controls {
	display: unset;
}

video-container controls :is(play, pause) {
	left: 0;
	bottom: 0;
	width: 5%;
	height: 10%;
	display: flex;
	padding: 2px 5px;
	position: absolute;
	justify-content: center;
}

video-container controls pause {
	display: none;
}

video-container controls :is(play, pause) svg {
	width: 20px;
	height: 20px;
	pointer-events: none;
}

context-menu {
	font-family: Trebuchet MS;
	font-size: 12px;
	background-color: #292a2d;
	border: 1px solid #3c4043;
	position: fixed;
	display: none;
	padding: 3px 0;
	box-shadow: 2px 2px 3px 0 #00000080;
}

context-menu:hover {
	cursor: default;
}

context-menu item {
	display: flex;
	padding: 4px 120px 4px 40px;
}

context-menu item:hover {
	background-color: #3f4042;
}

.drag-active {
    position: relative;
}

.drag-active::after {
    border: 8px solid var(--border-color);
    content: "Drop";
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(
        0 40%,
        0 0,
        40% 0,
        40% 20%,
        20% 20%,
        20% 40%,
        0 40%,
        0 100%,
        40% 100%,
        40% 80%,
        20% 80%,
        20% 60%,
        0 60%,
        0 100%,
        100% 100%,
        100% 60%,
        80% 60%,
        80% 80%,
        60% 80%,
        60% 100%,
        100% 100%,
        100% 0,
        60% 0,
        60% 20%,
        80% 20%,
        80% 40%,
        100% 40%,
        100% 100%,
        0 100%
    );
}

.success {
    color: #44dd88
}

.warning {
    color: #dd4444
}